
[Unit]
Description=Traffic Control Flask Service
After=network.target

[Service]
Type=simple
User=lagct
Group=lagct

WorkingDirectory=/home/lagct/Desktop/Traffic_Control/web_test/project

ExecStart=/bin/bash /home/lagct/Desktop/Traffic_Control/web_test/project/run.sh

Restart=always
RestartSec=5

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target